/* Reset general */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5; /* Fondo gris claro */
    color: #333; /* Texto en color oscuro */
    line-height: 1.6;
}

.container {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 80px auto;
    max-width: 70%;
    text-align: left;
}

.titulo {
    font-size: 2.5em;
    color: #007bff; /* Azul principal */
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.descripcion {
    font-size: 1.2em;
    color: #555555; /* Texto secundario */
    margin-bottom: 30px;
    font-weight: 300;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    background-color: #007bff; /* Azul principal */
    color: #ffffff;
    padding: 15px;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
}

.table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:nth-child(odd) {
    background-color: #ffffff;
}

.link {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.link:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Botón personalizado */
.btn-custom {
    height: 50px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #0056b3;
}
